---


const projects = [
    { title: "PLantBuddy", description: "Your go-to guide for all things plant-related", image: "/images/plantbuddy.png", link:"https://plantbuddy.vercel.app/"},
    {title : "Bowen Massage", description: "A website for a massage therapist", image: "/images/bowen.png", link:"https://www.gesundheitspraxis-jaekel.de/"},
    {title : "Astrology App", description: "An astrology app that gives you your daily horoscope ", image: "/images/horoscope.png", link:"https://astro-gamma-kohl.vercel.app/"},
    
]

---

<div>
     
    <h1>Projects</h1>
    <div class="project-container" >
        
        {projects.map(project => (
            <figure class="card-project">
                
                    
                        <img src={project.image} alt={project.title} width="200"  height="200"/>
                <h2>{project.title}</h2>
                
                <a href={project.link}>
                    <img src="/svg/link.svg" class="link"/>  
                    </a>
                
                <figcaption>{project.description}</figcaption>
                
                
                
               
            </figure>
        ))}
    </div>
    </div>

<style>
     @keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
    div {
        background-color: rgb(220, 203, 198);
        padding: 20px;
        margin: 0;
    }
    h1 {   
        text-align: center;
        font-size: 2rem;
        
        padding: 50px;
        
       
       
     }

    .project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    
    
    
    
   
   
    
}
@media (max-width: 600px) {
        .project-container {
            flex-direction: column;
           justify-content: center;
            gap : 20px;
            
        }
       
    }
     @media (max-width: 768px) { /* Styles for tablet devices go here */
        .project-container {
            flex-direction: column;
            gap : 20px;
        }
}



 

.link {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.card-project figcaption {
      text-align: center;
      

    padding: 10px;
    max-width: 200px;
    font-style: normal;

    }
    ul {
        list-style-type: none;
        gap: 20px;
    }
    .card-project {
        display: flex;
        flex-direction: column;
        align-items: center;
      border-radius: 10px;
    border: 1px solid #ccc;
        background-color: white;
        box-shadow: 0cap 0px 15px 0px rgba(0,0,0,0.2);  
        animation: slideInFromLeft 1s ease-out;
  animation-delay: calc(var(--i) * 1s);
        
    
    }
    .card-project h2 {
        
        padding: 10px;
        font-size: 1.2rem;
    }

    
    img {
        width:300px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }
</style>