---
const projects = [
  {
    title: "PLantBuddy",
    description: "Your go-to guide for all things plant-related",
    image: "/images/plantbuddy.png",
    link: "https://plantbuddy.vercel.app/",
    techstack:
      "HTML, CSS, JavaScript, Node.js, Next.js, MongoDB,Vercel,Next.Auth",
  },
  {
    title: "Bowen Massage",
    description: "A website for a massage therapist",
    image: "/images/bowen.png",
    link: "https://www.gesundheitspraxis-jaekel.de/",
    techstack: "HTML, CSS, JavaScript,React,Vercel",
  },
  {
    title: "Astrology App",
    description: "An astrology app that gives you your daily horoscope ",
    image: "/images/horoscope.png",
    link: "https://astro-gamma-kohl.vercel.app/",
    techstack: "HTML, CSS, JavaScript,React,Node.js,Next.js,Vercel,MongoDB",
  },
];
---

<div>
  <div class="intro">
    <h1>Discover my latest projects</h1>
    <a id="show-projects"> <img src="/svg/arrow.svg" /></a>
  </div>
  <div class="project-container">
    {
      projects.map((project) => (
        <a href={project.link}>
          <figure
            class="card-project"
            data-aos="slide-right"
            data-aos-duration="1000"
          >
            <img
              src={project.image}
              alt={project.title}
              width="200"
              height="200"
            />
            <div class="section">
              <h2>{project.title}</h2>
            </div>

            <figcaption>{project.description}</figcaption>
            <section>{project.techstack}</section>
          </figure>
        </a>
      ))
    }
  </div>
</div>

<style>
  .intro {
    display: flex;
    flex-direction: column;
    img {
      width: 30px;
      height: 30px;
      margin: auto;
      background-color: rgb(220, 203, 198);
    }
    h1 {
      text-align: center;
      font-size: 3rem;
      font-style: normal;
      padding: 50px;
      font-family: "Times New Roman", Times, serif;
      letter-spacing: 7px;
      animation: vaweAnimation 1s infinite;
    }
    a {
      margin: auto;
    }
  }

  .aos-animate.card-project {
    opacity: 1;
    transition: opacity 1s;
  }
  div {
    background-color: rgb(220, 203, 198);
    padding: 20px;
    margin: 0;
  }

  @keyframes vaweAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    display: none;

    a {
      text-decoration: none;
      color: black;
    }
  }
  @media (max-width: 600px) {
    .project-container {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }
  }
  @media (max-width: 768px) {
    /* Styles for tablet devices go here */
    .project-container {
      flex-direction: column;
      gap: 20px;
    }
  }

  .section {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 10px;

    text-decoration: underline;
  }

  .card-project figcaption {
    text-align: center;
    padding: 10px;
    max-width: 200px;
    font-style: normal;
    margin-bottom: 10px;
  }
  .card-project section {
    display: flex;
    flex-wrap: nowrap;
    max-width: 275px;
    text-align: center;
    padding: 10px;
    font-style: italic;
  }
  ul {
    list-style-type: none;
    gap: 20px;
  }
  .card-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0cap 0px 15px 0px rgba(0, 0, 0, 0.2);
  }
  .card-project h2 {
    padding: auto;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.2); /* Add this line */
  }
</style>
<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
<script type="module">
  import { showProjects } from "/src/js/ao.js";
  window.onload = function () {
    document
      .getElementById("show-projects")
      .addEventListener("click", function () {
        console.log("clicked");
        showProjects();
      });
  };
</script>
